html, body { height: 100%; }
.wrapper { min-height: calc(100% - 245px); }
.navbar-end .button { margin-top: 8px; margin-right: 15px; }
footer, form > div { text-align: center; }
form input { margin-top: 10px; }
.form-user { background-color: snow; padding: 15px 150px 30px 150px; }
.order-item input { width: 23%; }
.wrapper > button:last-child { margin-top: 40px; }
.sum { text-align: right; }

h2 { font-size: 2em; }
table { margin: 0 auto; min-width: 50%; }