<h2>Zawartość pliku</h2>

<table class="table is-striped is-fullwidth">
  <tbody>
    <% File.open(Dir.pwd+"/storage/product.csv", "r") do |f| %>
      <% f.each_line do |line| %>
        <tr>
          <td><%= line[0, line.index(';')] %></td>
          <% line = line[line.index(';')+1..-1] %>
          <td><%= line[0, line.index(';')] %></td>
          <% line = line[line.index(';')+1..-1] %>
          <td><%= line[0, line.index(';')] %></td>
          <% line = line[line.index(';')+1..-1] %>
          <td><%= line[0, line.index(';')] %></td>
          <% line = line[line.index(';')+1..-1] %>
          <td><%= line[0, line.index(';')] %></td>
          <% line = line[line.index(';')+1..-1] %>
          <td><%= line %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<style>
footer { position: relative; }
</style>