<p id="notice"><%= notice %></p>

<form class="columns">
  <div class="column is-4"><label>Imię</label><input type="text" class="input is-3"/></div>
  <div class="column is-4"><label>Nr Telefonu</label><input type="number" class="input is-3"/></div>
  <div class="column is-4"><label>Email</label><input type="email" class="input is-3"/></div>
</form>

<h2>Products</h2>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Active</th>
      <th>Author</th>
      <th>Producer</th>
      <th>Publication date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <!--<td><%= product.symbol %></td>
        <td><%= product.name %></td>
        <td><%= product.active %></td>
        <td><%= product.author_id %></td>
        <td><%= product.producer_id %></td>
        <td><%= product.publication_date_id %></td>-->
        <td><%= product.name %></td>
        <td><%= product.value %></td>
        <td></td>
        <td></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: "button is-fullwidth" %>