<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @product.symbol %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Author:</strong>
  <%= @product.author_id %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @product.producer_id %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @product.publication_date_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
