<!DOCTYPE html>
<html>
  <head>
    <title>Magazyn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1>MAGAZYN</h1>
        </a>
        <div class="navbar-burger burger" data-target="navigation">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
  
      <div id="navigation" class="navbar-menu">
        <!--<div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-active">Wpisy</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/topics">Tematy</a>
              <a class="navbar-item" href="/issues">Zagadnienia</a>
              <a class="navbar-item" href="/articles">Artykuły</a>
            </div>
          </div>
        </div>-->
        <a class="navbar-item" href="/">Produkty</a>
        <a class="navbar-item" href="/content">Zawartość</a>
  
        <div class="navbar-end">
          <%= form_tag products_path, class: "navbar-item", :method => 'get' do %>
            <div class="field is-grouped" style="height: 26px;">
              <%= text_field_tag :search, params[:search], placeholder: "Szukaj", class: "input" %>
              <%= submit_tag "Search", :name => nil, class: "button" %>
            </div>
          <% end %>
  
          <%= link_to "Nowy Produkt", new_product_path, class: "navbar-item" %>
        </div>
      </div>
    </nav>
  
    <div id="wrapper" class="container is-fluid">
      <% if !flash[:notice].blank? %>
        <div class="alert alert-success" style="text-align: center;">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
      
    </div>
  
    <footer>
      <p><a href="http://mushix.eu/cv" target="_blank">MushiX</a> &copy; wszelkie prawa zastrzeżone</p>
      <p id="clock"></p>
    </footer>
  
    <%= javascript_include_tag 'bulma' %>
    <%= javascript_include_tag 'clock' %>
  
  </body>
  </html>